<html lang="en">
    <head>
        <title>Shoreline Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <div class="container-fluid">
            
            <div class="jumbotron text-center">
                <div class="page-header">
                    <h1>Shoreline Dashboard</h1>
                </div>
                <p>If you are currently signed into a non Shoreline Schools Google account, please <a href="https://accounts.google.com/logout">sign out</a> before continuing.</p>
                <a href="/auth/google" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-lock"></span> Sign In with Google
                </a>
            </div>
            
        </div>
    </body>
</html>
